{% extends 'MatApp/base.html' %}

{% block title %}
Add Word
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
{#            <div class="col-md-6">#}
{##}
{#                <form class="form-inline"  action="/addWord" method="post">#}
{#                  {% csrf_token %}#}
{#                    <p><b>Введите слово для добавления:</b></p>#}
{#                    <div class="form-group"><input class="form-control" type="text" name = "word"></div>#}
{#                    <div class="form-group"><input class="btn btn-default" type="submit" value="Добавить"></div>#}
{##}
{#                    <div id="addedWord1" style="display: none"><b>Добавлено слово:</b></div>#}
{#                    {{ newWord }}#}
{#                </form>#}
{#            </div>#}
            <div class="col-md-6">
                <div class="form-inline">
                    <p><b>Введите слово для добавления:</b></p>
                    <div class="form-group"><input class="form-control" type="text" id="newWordInput"></div>
                    <div class="form-group"><button class="btn btn-default" onclick="addNewWord()">Добавить</button></div>

                </div>
                <div id="addedWordArea" style="display: none">
                    <b>Добавлено слово:</b>
                    <div id="addedWord"></div>
                </div>
            </div>
        </div>
{#        <div class="row" style="margin-top: 80px; display: none">#}
{#            <div class="col-md-6">#}
{#                <form action="/addDict" >#}
{#                     <p><input type="submit" value="Добавить словарь"></p>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    </div>

<script>
    function addNewWord(){
        var url = '{% url "addWordForAjax" %}';
        var data = {
            word : $("#newWordInput").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post(url, data, function (data) {
{#            console.log(data);#}
            if (data.isError == "false") {
                    $("#addedWord").html("<h4 class=\"alert alert-success\">"+data.newWord + "</h4>");
            } else {
                    $("#addedWord").html("<h4 class=\"alert alert-danger\">"+data.errorMsg + "!</h4>");
            }
            $("#addedWordArea").attr("style", "display: block");
        }, "json");
    }
</script>
{% endblock %}