{% extends 'MatApp/base.html' %}

{% block title %}
Add Word
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <form class="form-inline"  action="/addWord" method="post">
                  {% csrf_token %}
                    <p><b>Введите слово для добавления:</b></p>
                    <div class="form-group"><input class="form-control" type="text" name = "word"></div>
                    <div class="form-group"><input class="btn btn-default" type="submit" value="Добавить"></div>

                    <div id="addedWord" style="display: none"><b>Добавлено слово:</b></div>
                    {{ newWord }}
                </form>
            </div>

            {# тест кнопки #}
            <div class="col-md-6">
                <div class="form-inline">
                    <p><b>Введите тестовое слово для добавления:</b></p>
                    <div class="form-group"><input class="form-control" type="text" id="testWord"></div>
                    <div class="form-group"><button class="btn btn-default" onclick="testFuncAjax()">Прочекать</button></div>

                </div>
                <div id="addedTestWordArea" style="display: none">
                    <b>Добавлено слово:</b>
                    <div id="addedTestWord"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 80px; display: none">
            <div class="col-md-6">
                <form action="/addDict" >
                     <p><input type="submit" value="Добавить словарь"></p>
                </form>
            </div>
        </div>
    </div>
<script>
function testFuncAjax(){
    console.log("вызвалась testFuncAjax()");
    var url = '{% url "testFunc" %}';
    var data = {
        testWord : $("#testWord").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
    }
    $.post(url, data).done(function (data) {
        $("#addedTestWord").html(data);
        $("#addedTestWordArea").attr("style", "display: block");

    });
{#    $.ajax({#}
{#        url:  '{% url 'testFunc' %}',#}
{#        type: "POST",#}
{#        data: { keyy : "oooppooo",#}
{#                csrfmiddlewaretoken: "{{ csrf_token }}"#}
{#        },#}
{#        success: function(data){#}
{#            console.log(data);#}
{#        }#}
{#    })#}
}
</script>
{% endblock %}