{% extends 'MatApp/base.html' %}

{% block title %}
Mat App
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" id="textToCheck">
            <div class="col-md-10 col-md-offset-1">
                <form action="/check" method="post">
                  {% csrf_token %}
                    <p><b>Введите ваш текст:</b></p>
                    <p><textarea class="form-control" rows="10" cols="45" name="text"></textarea></p>
                    <div class="row">
                        <p class="col-md-12"><input class="col-md-6 col-md-offset-6 btn btn-success"type="submit" value="Проверить"></p>
                    </div>

                </form>
            </div>
        </div>
        <div class="row" id="checkedText">
            <div class="col-md-10 col-md-offset-1" >
                <p><b>Проверенный текст:</b></p>
                <p><div class="form-control checked-text">{{ text |safe }}</div></p>
            </div>
        </div>
    </div>

{% endblock %}
