{% extends 'MatApp/base.html' %}
{% load staticfiles %}


{% block title %}
Mat App
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" id="forTextToCheck">
            <div class="col-md-10 col-md-offset-1">
{#                <form action="/check" method="post">#}
{#                  {% csrf_token %}#}
{#                    <p><b>Введите ваш текст:</b></p>#}
{#                    <p><textarea class="form-control" rows="10" cols="45" name="text"></textarea></p>#}
{#                    <div class="row">#}
{#                        <p class="col-md-12"><input class="col-md-6 col-md-offset-6 btn btn-success"type="submit" value="Проверить"></p>#}
{#                    </div>#}
{##}
{#                </form>#}
                <div>
                    <div class="row">
                        <p class="col-md-12">
                            <div class="col-md-4"><b>Введите ваш текст:</b></div>
                            <button class="col-md-4 btn btn-default" onclick="cleanAreaForCheckText()">Очистить текст на проверку</button>
                        </p>
                    </div>
                    <p><div><textarea class="form-control" rows="10" cols="45" id="textToCheckArea"></textarea></div></p>
                    <div class="row">
                        <p class="col-md-12">
                            <button class="col-md-6 col-md-offset-6 btn btn-success" onclick="checkText()">Проверить</button>
                        </p>
                    </div>

                </div>
            </div>
        </div>
{#        <div class="row" id="checkedText">#}
{#            <div class="col-md-10 col-md-offset-1" >#}
{#                <p><b>Проверенный текст:</b></p>#}
{#                <p><div class="form-control checked-text">{{ text |safe }}</div></p>#}
{#            </div>#}
{#        </div>#}
{#        Блок отображения обработки тектса#}
        <div class="row" style="display: none" id="loadingTextBlock">
            <div class="col-md-4 col-md-offset-4">
                <div id="loadText" style="text-align: center"><h3><p>Обработка текста ...</p><p>Пожалуйста, Подождите</p></h3></div>
                <div id="loadGif" style="text-align: center"><img src="{% static 'MatApp/load.gif' %}"></div>
            </div>
        </div>

        <div class="row" id="forCheckedText" style="display:none">
            <div class="col-md-10 col-md-offset-1" >
                <div class="row">
                        <p class="col-md-12">
                            <div class="col-md-4"><b>Проверенный текст:</b></div>
                            <button class="col-md-4 btn btn-default "
                                    onclick="cleanAreaForCheckedText()">Очистить проверенный текст
                            </button>
                        </p>
                </div>
                <p><div class="form-control checked-text" id="checkedText"></div></p>
            </div>
        </div>

    </div>


{#  own scripts#}
  <script>
    function checkText(){
{#        console.log($("#textToCheckArea").val());#}
        cleanAreaForCheckedText();
        $("#loadingTextBlock").attr("style", "display: block");
        var url = '{% url "checkForAjax" %}';
        var data = {
            text: $("#textToCheckArea").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };
        $.post(url, data, function (data) {
           console.log(data);
            $("#loadingTextBlock").attr("style", "display: none");
            if (data.isError == "false") {
                $("#checkedText").html(data.text.replace(/\r?\n/g, '<br/>'));
            }
            else {
                console.log(data);
                $("#checkedText").html("<h4 class=\"alert alert-danger\">"+data.errorMsg + "!</h4>");
            }
            $("#forCheckedText").attr("style", "display: block");

        },"json");
    }
  function cleanAreaForCheckText() {
      $("#textToCheckArea").val("");
  }
  function cleanAreaForCheckedText() {
      $("#forCheckedText").attr("style", "display: none");
      $("#checkedText").html("");
  }
</script>

{% endblock %}
